<!DOCTYPE html>
<html ng-app="firstController">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

    <link rel="stylesheet" href="../../vendor/bootstrap3/css/bootstrap.min.css">
</head>

<body ng-controller="firstController2">

<table class="table" ng-show="cart.length">
    <thead>
    <tr>
        <th>產品編號</th>
        <th>產品名稱</th>
        <th>購買數量</th>
        <th>產品單價</th>
        <th>產品總價</th>
        <th>操作</th>
    </tr>


    </thead>

    <tbody>

    <tr ng-repeat="item in cart">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>

            <button ng-click="reduce(item.id)" class="btn btn-main">-</button>
            <input type="text" value="{{item.quantity}}" ng-model="item.quantity" />

            <button ng-click="add(item.id)" class="btn btn-main">+</button>
        </td>
        <td>{{item.price}}</td>
        <td>{{item.quantity * item.price}}</td>
        <td>
            <button type="button" ng-click="remove(item.id)" class="btn btn-danger">移除</button>
        </td>
    </tr>
    <tr>
        <td>總價 </td>
        <td>{{totalPrice()}}</td>
        <td>    總數量</td>
        <td>{{totalCount()}}</td>

        <td colspan="2"><button type="button" ng-click="cart={}" class="btn btn-danger">清空購物車</button></td>
    </tr>
    </tbody>

</table>

<p ng-hide="cart.length">購物車為空</p>


    <script type="text/javascript" src="../../vendor/angular/angular.js"></script>

    <script src="app/index.js"></script>

</body>
</html>





